{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Accounts{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">
  </head>
  <body>
    <div class="topnav">
      <a href="/"{% if request.path == '/' %} class="active"{% endif %}>Asset Creation</a>
      <a href="/about/"{% if request.path == '/about/' %} class="active"{% endif %}>About</a>
      <a href="/terms/"{% if request.path == '/terms/' %} class="active"{% endif %}>Terms</a>
    </div>
    <div class="body">{% block body %}{% endblock %}</div>
  </body>
</html>
